.centerContentCol {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.centerContentRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
