.centerContentCol {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.centerContentRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.buffers {
  overflow-y: scroll;
  width: 98%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin: 1em;
}
