.centerContentCol {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.centerContentRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.buffers {
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-gap: 1em;
}