.header {
  position: fixed;
  top: 0;
  width: 100vw;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.185);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px grey;
  z-index: 9999;
}

.header .controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.header .controls button {
  margin: 0 0.4em;
}

.buffers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3em;
}
